.mat-sidenav-container {

    height: 100vh;

    .mat-sidenav {

        &.mat-drawer-over {
            max-width: 90vw;
        }

        .mat-mdc-nav-list {
            .mat-mdc-list-item {
                width: auto;
                margin-right: .5rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .mat-sidenav-content {
        min-height: 100vh;
    }
}

.ddr-mat-fab-container {

    height: calc($ddr-mat-fab-height + 2rem);

    .mdc-fab {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
}

.mat-toolbar {

    .ddr-mat-heading {
        @extend .text-overflow-ellipsis;
        @extend .flex-auto;
    }

    ddr-mat-sidenav-toggle {
        margin-right: .5rem;
    }
}

ddr-filter {

    width: 100%;

    .mat-mdc-form-field {
        width: 100%;
    }
}

p.mat-mdc-list-item-line {
    margin-bottom: 0;
}
