@use '@angular/material-experimental' as matx;
@use '@angular/material' as mat;

@include mat.core();

$ddr-mat-primary-light: matx.$m3-azure-palette !default;
$ddr-mat-primary-dark: matx.$m3-azure-palette !default;
$ddr-mat-accent: mat.define-palette(mat.$pink-palette) !default;

$ddr-light-theme: matx.define-theme((
        color: (
                primary: $ddr-mat-primary-light,
        ),
)) !default;

$ddr-dark-theme: matx.define-theme((
        color: (
                theme-type: dark,
                primary: $ddr-mat-primary-dark,
        ),
)) !default;

html {
    @include mat.all-component-themes($ddr-light-theme);
}

@media (prefers-color-scheme: dark) {
    html {
        @include mat.all-component-colors($ddr-dark-theme);
    }
}

@include mat.typography-hierarchy($ddr-light-theme);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
