.d-flex {
    display: flex !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-auto {
    flex: 1 1 auto !important;
}

.d-grid {
    display: grid !important;
    grid-gap: 1rem;

    &.equal-columns {
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
    }
}

@each $prefix, $property in $ddr-paddings {
    @each $suffix, $size in $ddr-spacers {
        .#{$prefix}-#{$suffix} {
            #{$property}: #{$size} !important;
        }
    }
}

@each $suffix, $size in $ddr-spacers {
    .px-#{$suffix} {
        padding-left: #{$size} !important;
        padding-right: #{$size} !important;
    }

    .py-#{$suffix} {
        padding-top: #{$size} !important;
        padding-bottom: #{$size} !important;
    }
}

@each $prefix, $property in $ddr-margins {
    @each $suffix, $size in $ddr-spacers {
        .#{$prefix}-#{$suffix} {
            #{$property}: #{$size} !important;
        }
    }
}

@each $suffix, $size in $ddr-spacers {
    .mx-#{$suffix} {
        margin-left: #{$size} !important;
        margin-right: #{$size} !important;
    }

    .my-#{$suffix} {
        margin-top: #{$size} !important;
        margin-bottom: #{$size} !important;
    }
}

.me-auto {
    margin-right: auto !important;
}

.ms-auto {
    margin-left: auto !important;
}

.text-center {
    text-align: center !important;
}

.text-muted {
    color: #9e9e9e !important;
}

.text-overflow-ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.sticky-top {
    position: sticky !important;
    top: 0 !important;
    z-index: 1 !important;
}

.list-unstyled {
    list-style-type: none !important;
    padding-left: 0 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}
