.d-flex {
    display: flex !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.d-grid {
    display: grid !important;
    grid-gap: 1rem;

    &.equal-columns {
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
    }
}

@each $prefix, $property in $ddr-paddings {
    @each $suffix, $size in $ddr-spacers {
        .#{$prefix}-#{$suffix} {
            #{$property}: #{$size} !important;
        }
    }
}

@each $prefix, $property in $ddr-margins {
    @each $suffix, $size in $ddr-spacers {
        .#{$prefix}-#{$suffix} {
            #{$property}: #{$size} !important;
        }
    }
}

.text-center {
    text-align: center !important;
}
