@use '@angular/material' as mat;

.mat-sidenav-container {

    .mat-sidenav {

        &.mat-drawer-over {
            max-width: 90vw;
        }

        .mat-mdc-nav-list {
            .mat-mdc-list-item {
                width: auto;
                margin-right: .5rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .mat-sidenav-content {
        min-height: 100vh;
    }

    &.side {
        .mat-sidenav {
            .ddr-mat-toolbar-fixed-top-container {
                .mat-toolbar {
                    width: 360px;
                }
            }
        }

        .mat-sidenav-content {
            .ddr-mat-toolbar-fixed-top-container {
                .mat-toolbar {
                    left: 360px;
                    right: 0;
                    width: auto;
                }
            }
        }
    }
}

.ddr-mat-fab-fixed-container {

    height: calc($ddr-mat-fab-height + 2rem);

    .mdc-fab {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
}

.mat-toolbar {

    .ddr-mat-heading {
        @extend .text-overflow-ellipsis;
        @extend .flex-auto;
    }

    ddr-mat-sidenav-toggle {
        margin-right: .5rem;
    }
}

.ddr-mat-toolbar-fixed-top-container {
    .mat-toolbar {
        position: fixed;
        top: 0;
        z-index: 2;
    }

    height: var(--mat-toolbar-mobile-height);
    @media (min-width: $ddr-breakpoint-sm) {
        height: var(--mat-toolbar-standard-height);
    }
}

ddr-filter {

    width: 100%;

    .mat-mdc-form-field {
        width: 100%;
    }
}

p.mat-mdc-list-item-line {
    margin-bottom: 0;
}

body.ddr-mat-scrolled {
    .ddr-mat-toolbar-fixed-top-container {
        .mat-toolbar {
            background: mat.get-theme-color($ddr-light-theme, 'surface-container');
            @media (prefers-color-scheme: dark) {
                background: mat.get-theme-color($ddr-dark-theme, 'surface-container');
            }
        }
    }
}
