@use '@angular/material' as mat;

@include mat.core();

$ddr-mat-primary: mat.$azure-palette !default;
$ddr-mat-tertiary: mat.$magenta-palette !default;
$ddr-mat-density: 0;

$ddr-light-theme: mat.define-theme((
        color: (
                primary: $ddr-mat-primary,
                tertiary: $ddr-mat-tertiary,
        ),
        typography: (
                plain-family: 'Roboto Flex Variable'
        ),
        density: $ddr-mat-density
)) !default;

$ddr-dark-theme: mat.define-theme((
        color: (
                theme-type: dark,
                primary: $ddr-mat-primary,
                tertiary: $ddr-mat-tertiary,
        )
)) !default;

html {
    @include mat.all-component-themes($ddr-light-theme);
    @media (prefers-color-scheme: dark) {
        @include mat.all-component-colors($ddr-dark-theme);
    }
}

.mat-mdc-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: tertiary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: error);
        }
    }
}

.mat-mdc-raised-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: tertiary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: error);
        }
    }
}

.mat-mdc-outlined-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: tertiary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: error);
        }
    }
}

.mat-mdc-unelevated-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: tertiary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: error);
        }
    }
}

@include mat.typography-hierarchy($ddr-light-theme);

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto Flex Variable', 'Helvetica Neue', sans-serif;
}
